<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/my.css" rel="stylesheet" />
</head>
<body>
    <nav class="nav navbar-fixed-top navbar-inverse">

    </nav>

    <div class="content">
        @RenderBody()
    </div>

    <div class="navbar navbar-fixed-bottom">
        <p>This information compiled by Christopher Carter</p>
    </div>
</body>
</html>
